In [38]:
import pandas as pd
import numpy as np
from datetime import datetime

In [34]:
import json

with open('twitter2022.json') as f:
    data_2022 = json.load(f)

with open('twitter2023.json') as f:
    data_2023 = json.load(f)

In [57]:
df_incl_2022=pd.DataFrame(data_2022['includes']['users'])
df_incl_2023=pd.DataFrame(data_2022['includes']['users'])# tienes que hacer un merge con el df_data 

# df_da_metrics_2022=pd.DataFrame(data_2022['data']['public_metrics'])
# df_da_metrics_2023=pd.DataFrame(data_2023['data']['public_metrics'])

df_data_2022=pd.DataFrame(data_2022['data'])
df_data_2023=pd.DataFrame(data_2023['data'])

In [58]:
df_data_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   author_id               60 non-null     object
 1   created_at              60 non-null     object
 2   edit_history_tweet_ids  60 non-null     object
 3   id                      60 non-null     object
 4   public_metrics          60 non-null     object
 5   text                    60 non-null     object
dtypes: object(6)
memory usage: 2.9+ KB

In [68]:
df_data_2022['created_at'] = df_data_2022['created_at'].astype(str)
date=[]

for fecha_str in df_data_2022['created_at']:
    # Utiliza strptime para analizar la cadena en formato de fecha y hora
    fecha_datetime = datetime.strptime(fecha_str, '%Y-%m-%dT%H:%M:%S.%fZ')
    date.append(fecha_datetime)
df_data_2022['date_time']=date
df_data_2022.head()

,author_id,created_at,edit_history_tweet_ids,id,public_metrics,text,impression_count,like_count,quote_count,reply_count,retweet_count,date_time
0,1151510939105144834,2022-12-29T16:39:19.000Z,[1608502937332113408],1608502937332113408,"{'impression_count': 113, 'like_count': 4, 'qu...",Empieza el a침o form치ndote en una de las profes...,113,4,0,0,1,2022-12-29 16:39:19
1,570795448,2022-12-29T12:52:11.000Z,[1608445776732246017],1608445776732246017,"{'impression_count': 124, 'like_count': 2, 'qu...",Los 4 bootcamps tecnol칩gicos de EDEM y @TheBri...,124,2,0,0,0,2022-12-29 12:52:11
2,1128860148,2022-12-29T09:16:11.000Z,[1608391421014196224],1608391421014196224,"{'impression_count': 49, 'like_count': 2, 'quo...",@EDEMempresarios acoge el 12 de enero un Open ...,49,2,0,0,0,2022-12-29 09:16:11
3,570795448,2022-12-27T09:00:57.000Z,[1607662809575292929],1607662809575292929,"{'impression_count': 218, 'like_count': 5, 'qu...",Si est치s buscando una profesi칩n que te cambie ...,218,5,0,0,0,2022-12-27 09:00:57
4,1162694149956603904,2022-12-23T12:54:06.000Z,[1606271930763354112],1606271930763354112,"{'impression_count': 120, 'like_count': 1, 'qu...",En @TheBridge_Tech tenemos un deseo para ti游눪\n...,120,1,0,0,1,2022-12-23 12:54:06

In [70]:
df_data_2023['created_at'] = df_data_2023['created_at'].astype(str)
date=[]

for fecha_str in df_data_2023['created_at']:
    # Utiliza strptime para analizar la cadena en formato de fecha y hora
    fecha_datetime = datetime.strptime(fecha_str, '%Y-%m-%dT%H:%M:%S.%fZ')
    date.append(fecha_datetime)
df_data_2023['date_time']=date
df_data_2023.head()

,author_id,created_at,edit_history_tweet_ids,id,public_metrics,text,impression_count,like_count,quote_count,reply_count,retweet_count,date_time
0,936539844079218688,2023-03-07T17:16:14.000Z,[1633154604018876416],1633154604018876416,"{'impression_count': 357, 'like_count': 8, 'qu...",춰Hola #dataholics! La primavera trompetera se ...,357,8,1,0,3,2023-03-07 17:16:14
1,1585726199485140993,2023-03-06T10:38:30.000Z,[1632692123412594688],1632692123412594688,"{'impression_count': 31, 'like_count': 0, 'quo...",Las inscripciones se realizar치n por Eventbrite...,31,0,0,0,0,2023-03-06 10:38:30
2,1585726199485140993,2023-03-06T10:38:30.000Z,[1632692120719859712],1632692120719859712,"{'impression_count': 950, 'like_count': 5, 'qu...",춰Por fin podemos publicar el cartel con los po...,950,5,1,1,3,2023-03-06 10:38:30
3,41545659,2023-03-06T08:48:56.000Z,[1632664546665025536],1632664546665025536,"{'impression_count': 90, 'like_count': 3, 'quo...","Encuentro de la @mlopscommunity en Madrid: ""ML...",90,3,0,0,1,2023-03-06 08:48:56
4,925597948410580993,2023-03-04T22:32:56.000Z,[1632147141224275970],1632147141224275970,"{'impression_count': 35, 'like_count': 1, 'quo...",@nodosenlared @snowded @TheBridge_Tech Muy bue...,35,1,0,0,0,2023-03-04 22:32:56

In [61]:
df_data_2022['public_metrics'] = df_data_2022['public_metrics'].astype(str)

df_data_2022['impression_count']=df_data_2022['public_metrics'].str.split(',').str.get(0)
df_data_2022['impression_count']=df_data_2022['impression_count'].str.split(':').str.get(1)

df_data_2022['like_count']=df_data_2022['public_metrics'].str.split(',').str.get(1)
df_data_2022['like_count']=df_data_2022['like_count'].str.split(':').str.get(1)

df_data_2022['quote_count']=df_data_2022['public_metrics'].str.split(',').str.get(2)
df_data_2022['quote_count']=df_data_2022['quote_count'].str.split(':').str.get(1)

df_data_2022['reply_count']=df_data_2022['public_metrics'].str.split(',').str.get(3)
df_data_2022['reply_count']=df_data_2022['reply_count'].str.split(':').str.get(1)

df_data_2022['retweet_count']=df_data_2022['public_metrics'].str.split(',').str.get(4)
df_data_2022['retweet_count']=df_data_2022['retweet_count'].str.split(':').str.get(1)
df_data_2022['retweet_count'].replace(regex='}', value='',inplace=True)

df_data_2022[['impression_count','like_count','quote_count','reply_count','retweet_count']] = df_data_2022[['impression_count','like_count','quote_count','reply_count','retweet_count']].astype(int)


df_data_2022.head()

,author_id,created_at,edit_history_tweet_ids,id,public_metrics,text,impression_count,like_count,quote_count,reply_count,retweet_count
0,1151510939105144834,2022-12-29T16:39:19.000Z,[1608502937332113408],1608502937332113408,"{'impression_count': 113, 'like_count': 4, 'qu...",Empieza el a침o form치ndote en una de las profes...,113,4,0,0,1
1,570795448,2022-12-29T12:52:11.000Z,[1608445776732246017],1608445776732246017,"{'impression_count': 124, 'like_count': 2, 'qu...",Los 4 bootcamps tecnol칩gicos de EDEM y @TheBri...,124,2,0,0,0
2,1128860148,2022-12-29T09:16:11.000Z,[1608391421014196224],1608391421014196224,"{'impression_count': 49, 'like_count': 2, 'quo...",@EDEMempresarios acoge el 12 de enero un Open ...,49,2,0,0,0
3,570795448,2022-12-27T09:00:57.000Z,[1607662809575292929],1607662809575292929,"{'impression_count': 218, 'like_count': 5, 'qu...",Si est치s buscando una profesi칩n que te cambie ...,218,5,0,0,0
4,1162694149956603904,2022-12-23T12:54:06.000Z,[1606271930763354112],1606271930763354112,"{'impression_count': 120, 'like_count': 1, 'qu...",En @TheBridge_Tech tenemos un deseo para ti游눪\n...,120,1,0,0,1

In [69]:
df_data_2023['public_metrics'] = df_data_2023['public_metrics'].astype(str)

df_data_2023['impression_count']=df_data_2023['public_metrics'].str.split(',').str.get(0)
df_data_2023['impression_count']=df_data_2023['impression_count'].str.split(':').str.get(1)

df_data_2023['like_count']=df_data_2023['public_metrics'].str.split(',').str.get(1)
df_data_2023['like_count']=df_data_2023['like_count'].str.split(':').str.get(1)

df_data_2023['quote_count']=df_data_2023['public_metrics'].str.split(',').str.get(2)
df_data_2023['quote_count']=df_data_2023['quote_count'].str.split(':').str.get(1)

df_data_2023['reply_count']=df_data_2023['public_metrics'].str.split(',').str.get(3)
df_data_2023['reply_count']=df_data_2023['reply_count'].str.split(':').str.get(1)

df_data_2023['retweet_count']=df_data_2023['public_metrics'].str.split(',').str.get(4)
df_data_2023['retweet_count']=df_data_2023['retweet_count'].str.split(':').str.get(1)
df_data_2023['retweet_count'].replace(regex='}', value='',inplace=True)

df_data_2023[['impression_count','like_count','quote_count','reply_count','retweet_count']] = df_data_2023[['impression_count','like_count','quote_count','reply_count','retweet_count']].astype(int)


df_data_2023.head()

,author_id,created_at,edit_history_tweet_ids,id,public_metrics,text,impression_count,like_count,quote_count,reply_count,retweet_count
0,936539844079218688,2023-03-07T17:16:14.000Z,[1633154604018876416],1633154604018876416,"{'impression_count': 357, 'like_count': 8, 'qu...",춰Hola #dataholics! La primavera trompetera se ...,357,8,1,0,3
1,1585726199485140993,2023-03-06T10:38:30.000Z,[1632692123412594688],1632692123412594688,"{'impression_count': 31, 'like_count': 0, 'quo...",Las inscripciones se realizar치n por Eventbrite...,31,0,0,0,0
2,1585726199485140993,2023-03-06T10:38:30.000Z,[1632692120719859712],1632692120719859712,"{'impression_count': 950, 'like_count': 5, 'qu...",춰Por fin podemos publicar el cartel con los po...,950,5,1,1,3
3,41545659,2023-03-06T08:48:56.000Z,[1632664546665025536],1632664546665025536,"{'impression_count': 90, 'like_count': 3, 'quo...","Encuentro de la @mlopscommunity en Madrid: ""ML...",90,3,0,0,1
4,925597948410580993,2023-03-04T22:32:56.000Z,[1632147141224275970],1632147141224275970,"{'impression_count': 35, 'like_count': 1, 'quo...",@nodosenlared @snowded @TheBridge_Tech Muy bue...,35,1,0,0,0

In [30]:
df_incl_2022.head()

                    id                 name         username
0  1151510939105144834  EDEM universitarios         EDEM_uni
1            570795448                 EDEM  EDEMempresarios
2           1128860148           Econom칤a 3       Economia_3
3  1162694149956603904           The Bridge   TheBridge_Tech
4   799935450844631040    Mediterr치neoPress  MediterraneoPre

In [82]:
df_data_2022=df_data_2022.sort_values('date_time', ascending=True)
df_data_2023=df_data_2023.sort_values('date_time', ascending=True)
df_data_tweets=pd.concat([df_data_2022,df_data_2023],ignore_index=True)

df_data_tweets=df_data_tweets.drop(['created_at','public_metrics'],axis=1)

In [84]:
df_data_tweets.to_csv('tweets_TheBridge.csv')

In [83]:
df_data_tweets

,author_id,edit_history_tweet_ids,id,text,impression_count,like_count,quote_count,reply_count,retweet_count,date_time
0,702077405045899264,[1594964278238654471],1594964278238654471,"Aprende hoy las profesiones del futuro, 춰inscr...",0,2,0,0,2,2022-11-22 08:01:31
1,702077405045899264,[1594965197613322241],1594965197613322241,"Ikasi gaur etorkizuneko lanbideak, izena eman ...",0,2,0,0,1,2022-11-22 08:05:10
2,783248945761910788,[1594968601265586178],1594968601265586178,Acelerando juntos el #talentodigital en Espa침a...,0,3,0,1,1,2022-11-22 08:18:42
3,1162694149956603904,[1595359906747617280],1595359906747617280,춰Ven a conocer los BBK bootcamps powered by @T...,0,3,0,0,4,2022-11-23 10:13:36
4,823470817963032576,[1595752907684843520],1595752907684843520,游댯Acelera tu carrera digital con #BBKBootcamps....,0,4,0,0,3,2022-11-24 12:15:15
...,...,...,...,...,...,...,...,...,...,...
144,925597948410580993,[1632147141224275970],1632147141224275970,@nodosenlared @snowded @TheBridge_Tech Muy bue...,35,1,0,0,0,2023-03-04 22:32:56
145,41545659,[1632664546665025536],1632664546665025536,"Encuentro de la @mlopscommunity en Madrid: ""ML...",90,3,0,0,1,2023-03-06 08:48:56
146,1585726199485140993,[1632692120719859712],1632692120719859712,춰Por fin podemos publicar el cartel con los po...,950,5,1,1,3,2023-03-06 10:38:30
147,1585726199485140993,[1632692123412594688],1632692123412594688,Las inscripciones se realizar치n por Eventbrite...,31,0,0,0,0,2023-03-06 10:38:30
148,936539844079218688,[1633154604018876416],1633154604018876416,춰Hola #dataholics! La primavera trompetera se ...,357,8,1,0,3,2023-03-07 17:16:14